html(lang="en")
  head
    title
      block title
    link(rel="stylesheet" href="./css/style.css")
    meta(name="viewport" content="width=device-width")
  body
    block content
    script(src="./js/app.js")
